@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import "reset.css";
@import "variables.css";

@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/welcome-header.css";
@import "components/user-components.css";
@import "components/alt-screen-header.css";
@import "components/badge.css";
@import "components/no-mobile.css";

@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chat.css";


body {
    color: #2e363e;
    font-family: 'Oswald', sans-serif;
    height: 100vh;
}   

.main-screen {
    padding: 0px var(--horizontal-space);
}
